<%= form_with(model: raza) do |form| %>
  <% if raza.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(raza.errors.count, "error") %> prohibited this raza from being saved:</h2>

      <ul>
        <% raza.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre %>
  </div>

  <div>
    <%= form.label :descripcion, style: "display: block" %>
    <%= form.text_area :descripcion %>
  </div>

  <div>
    <%= form.label :personalidad, style: "display: block" %>
    <%= form.text_area :personalidad %>
  </div>

  <div>
    <%= form.label "Tamaño", style: "display: block" %>
    <%= form.text_field :tamano %>
  </div>

  <div>
    <%= form.label :pelaje, style: "display: block" %>
    <%= form.text_field :pelaje %>
  </div>

  <div>
    <%= form.label :foto, style: "display: block" %>
    <%= form.file_field :foto %>
  </div>

  <br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
