<div id="<%= dom_id raza %>">
  <p>
    <strong>Nombre:</strong>
    <%= raza.nombre %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= raza.descripcion %>
  </p>

  <p>
    <strong>personalidad:</strong>
    <%= raza.personalidad %>
  </p>

  <p>
    <strong>Tamaño:</strong>
    <%= raza.tamano %>
  </p>

    <p>
    <strong>Pelaje:</strong>
    <%= raza.pelaje %>
  </p>

</div>
