<div class="box">
  <article class="media">
    <div class="media-left">
        <% if raza.foto.attached?  %>
          <%= image_tag raza.foto.variant(:miniatura) %>
        <% else %>
          <%= image_tag "missing.png", style: 'width: 100px' %>  
        <% end %>
    </div>
    <div class="media-content">
      <div class="field is-grouped is-grouped-multili">
        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-dark">Nombre</span>
            <span class="tag is-info"><%= raza.nombre %></span>
          </div>
        </div>
        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-dark">Personalidad</span>
            <span class="tag is-info"><%= raza.personalidad %></span>
          </div>
        </div>
        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-dark">Tamaño</span>
            <span class="tag is-info"><%= raza.tamano %></span>
          </div>
        </div>
        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-dark">Pelaje</span>
            <span class="tag is-info"><%= raza.pelaje %></span>
          </div>
        </div>
      </div>
      <div>
        <%= raza.descripcion %>
      </div>
    </div>
  </article>
</div>